# Node
node_modules/
frontend/node_modules/
dist/

# Java / Maven
target/
backend/target/
*.class

# Logs
*.log
logs/

# Env
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp files
tmp*
*.tmp